
.container {
    max-width: 800px;
}

.navbar {
    border-bottom: 1px solid #eee;
    margin-top: 20px;
    margin-bottom: 40px;
}

.navbar > .container {
    margin: 0px;
    width: 100%;
}

.navbar-list {
    list-style: none;
    margin-bottom: 0px;
}

.navbar-item {
    float: left;
    margin-bottom: 0px;
}

.navbar-link {
    margin: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 11px;
    font-weight: bold;
    line-height: 5em;
}

.navbar-link:hover {
    color: #bbb;
}

.problem-header {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.7rem;
    font-weight: 400;
}

.problem-title {
    font-weight: bold;
}

.error {
    color: red;
}

a {
    text-decoration: none;
}

.solved {
    background-color: #afa;
}